<h1>Take a Look Through our Departments!</h1>
<%= link_to 'Create New Department', new_department_path %>
<hr />
  <% @departments.each do |department| %>
    <h2><%= department.name %></h2>
    <ul>
      <li><%= link_to "view #{department.name}", department_items_path(department) %></li>
      <li><%= link_to "edit #{department.name}", edit_department_path(department) %></li>
      <li><%= link_to "delete #{department.name}", department, method: :delete %></li>
    </ul>
  <% end %>
